# ***************************
# Node.js / Front-end build *
# ***************************
node_modules/

# **************************
# Environnements / Secrets *
# **************************
.env
.env.local

# **************************
# VS Code                  *
# **************************
.vscode/
